body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.zone {
  clear: both;
  overflow: hidden;
}
.zone > div {
  float: left;
}
.zone.hand {
  text-align: center;
}
.zone.hand > div {
  display: inline-block;
  float: none;
}
.card {
  box-sizing: border-box;
  display: inline-block;
  width: 7em;
  height: 9em;
  border: .2em solid;
  padding: .2em;
  border-radius: .2em;
  margin: .5em;
  position: relative;
  background: white;
}
.card span {
  background: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
}
.active .card {
  box-shadow: 3px 3px 3px green;
}

.zone.opp-inplay {
  background: #ccc;
  width: 100%;
  min-height: 11em;
}
.zone.inplay {
  background: #ccc;
  min-height: 11em;
}
.zone.redzone {
  background: red;
  min-height: 11em;
}