<div class="oppplay board-zone">
    <div class="stacks">
        <stack ng-repeat="stack in game.oppInPlay() track by $index" class="tap-container">
            <div ng-repeat="card in stack.cards" ng-include="'views/card.html'" ng-class="{validTarget: game.isValidTarget(card)}" class="stack-container">
            </div>
        </stack>
    </div>
</div>
<div class="redzone board-zone" ng-drop="game.canAttack()" ng-drop-success="game.dropRedzone($data,$event)">
    <div class="stacks">
        <stack ng-repeat="stack in game.redzone() track by $index" class="tap-container">
            <div ng-repeat="card in stack.cards"
                ng-include="'views/card.html'"
                ng-drop="game.canBlock()"
                ng-drop-success="game.dropRedzoneStack($data,$event, card.id)"
                class="stack-container">
            </div>
        </stack>
    </div>
</div>
<div class="inplay board-zone" ng-drop="game.canBlock() || game.canAttack()" ng-drop-success="game.undo($data,$event)">
    <div class="stacks">
        <stack ng-repeat="stack in game.inPlay() track by $index" class="tap-container">
            <div ng-repeat="card in stack.cards" ng-include="'views/card.html'"
                ng-class="{
                    attacking: game.isAttacking(card.id),
                    tapped: game.isAttacking(card.id),
                    active: ((game.canAttack() && !card.summoningSick) || (game.canBlock()) && !card.tapped),
                    validTarget: game.isValidTarget(card),
                    inplayBlocking: game.isBlocking(card.id)
                }"

                ng-drag="((game.canAttack() && !card.summoningSick) || game.canBlock()) && !card.tapped"
                ng-drag-data="{card: card}" ng-center-anchor="true"
                class="stack-container">
            </div>
        </stack>
    </div>
</div>