<div name="board" ng-controller="GameCtrl as game">
    {{game.user.id}}
    <div ng-show="game.game.data.started">
        <div>Turn: {{game.game.data.turn}}</div>
        <div>Active Player: <span>{{game.getActivePlayer().name}}</span></div>
        <div class="zone">
            <div ng-repeat="stack in game.toBuy() track by $index">
                <div ng-repeat="card in stack.cards" ng-include="'views/card.html'" ng-click="game.buy(card.id)">
                </div>
            </div>
        </div>
        <div>Active Phase: <span>{{game.game.data.phases[game.game.data.activePhase].name}}</span></div>
        <button ng-click="game.pass()" ng-disabled="!game.isActivePlayer()">Next Phase</button>
        <br />
        <div class="opp-info">
            <div>{{ player.name }}</div>
            <div>Currency {{ game.getCurrency(game.getOppIndex()) }}</div>
            <div>DECK {{game.getDeck(game.getOppIndex()).length}}</div>
            <div>HAND {{game.getHand(game.getOppIndex()).length}}</div>
            <div>DISCARD {{game.getDiscard(game.getOppIndex()).length}}</div>
            <hr />
        </div>
        <hr />
        <hr />
        <div class="zone">
            <div ng-repeat="stack in game.oppInPlay() track by $index">
                <div ng-repeat="card in stack.cards" ng-include="'views/card.html'">
                </div>
            </div>
        </div>
        <hr />
        <div class="zone">
            <div ng-repeat="stack in game.inPlay() track by $index">
                <div ng-repeat="card in stack.cards" ng-include="'views/card.html'">
                </div>
            </div>
        </div>
        <hr />
        <hr />
        <div class="zone" ng-class="{active: game.canPlayHand()}">
            <div ng-repeat="card in game.getPlayerHand() track by $index" ng-include="'views/card.html'" ng-click="game.playCard(card.id)">
            </div>
        </div>
        <div class="self-info">
            <div>Currency {{ game.getCurrency(game.getIndex()) }}</div>
            <div>DECK {{game.getDeck(game.getIndex()).length}}</div>
            <div>HAND {{game.getHand(game.getIndex()).length}}</div>
            <div>DISCARD {{game.getDiscard(game.getIndex()).length}}</div>
        </div>
    </div>
    <!--<pre>{{game.game.data | json}}</pre>-->
</div>