<style>
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('/images/board/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
<div ng-show="game.gameOver()" class="game-over-screen">
    <strong ng-show="game.isWinner()">Victory!</strong>
    <strong ng-show="!game.isWinner()">Defeat</strong>
    <a href="/" class="back-btn">Back</a>
</div>
<div ng-class="{
        stateAttack: game.attacks.length || game.canBlock(),
        stateTarget: game.isTargeting,
        stateNoBuy: !game.canPlayHand() && !game.isTargeting
    }"
    ng-show="game.game.data.started && !game.gameOver()"
    class="gameboard noselect phase-{{game.game.data.phases[game.game.data.activePhase].name}}">

    <div class="top-info">
        Drag: {{game.dragging}}
        <div ng-show="game.isTargeting"
            ng-click="game.cancelTarget()">
            SELECT TARGET
        </div>
        <div>Turn: {{game.game.data.turn}}</div>
        <div>Active Player: <span>{{game.getActivePlayer().name}}</span></div>
        <div>Active Phase: <span>{{game.game.data.phases[game.game.data.activePhase].name}}</span></div>
    </div>
    <div class="board">
        <div class="btn-container">
            <button ng-click="game.buttonAction()"
                ng-show="game.isActivePlayer()"
                ng-class="{active: game.mustEndTurn()}">
                {{game.buttonText()}}
            </button>
        </div>

        <ng-include src="'/views/game-zones/inplay.html'"></ng-include>

        <ng-include src="'/views/game-zones/hand.html'"></ng-include>
        <ng-include src="'/views/game-zones/buy.html'"></ng-include>
        
        <ng-include src="'/views/game-zones/players.html'"></ng-include>

        <div class="action-log">
            <div ng-repeat="action in game.actionlog | reverse">
                <img src="{{action.img}}" />
            </div>
        </div>
    </div>
    <!--<pre>{{game.game.data | json}}</pre>-->
</div>