<div class="menu-list" ng-controller="MainCtrl as main">
    <ul class="nav nav-pills pull-right">
        <li ng-show="main.user.authed">
            <a ng-href="/profile">Profile</a>
        </li>
        <li ng-show="main.user.authed">
            <a ng-href="/">Game</a>
        </li>
        <li ng-show="!main.user.authed">
            <a ng-href="/login">Login</a>
        </li>
        <li ng-show="!main.user.authed">
            <a ng-href="/register">Register</a>
        </li>
    </ul>
</div>