<div class="register-screen">
    <div class="register-form">
    	<h2>Register</h2>
        <form ng-if="!register.user.authed" ng-submit="register.register()">
            <input name="username" type="text" ng-model="register.username"/>
            <br />
            <input name="password" type="password" ng-model="register.password"/>
            <br />
            <input type="submit" value="Register" />
            <br />
            <span class="err"> {{register.user.error}} </span>
        </form>
    </div>
    <a href="/" class="back-btn">Back</a>
</div>